.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log


dist/
build/
*.log
*.tmp

.vscode/
.idea/
*.swp

.env
.env.local
*.env.*
!.env.example
firebase-service-account.json
test.*
test-*
test2*
timetable.csv
student.csv
faculty.csv